/* GENERIC */
html, body {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}
body {
  margin: 0;
  display: flex;
  background: #383636;
  color: white;
}
a { color: white; }
a.link, a.visited, a.hover, a.active { color: white; }
#wrapper {
  margin: 0 auto;
}
#content {
  padding-top: 5px;
  min-width: 320px;
}

/* BYLINE */
.byline {
  color: white;
  float: right;
  font-size: 80%;
}
.byline a {
  text-decoration: none;
  border-bottom: dotted 1px black;
}

/* MENU */
input {
  width: 100%;
}
ul {
  list-style: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
li {
  padding: 1em;
  position: relative;
}
.li-item {
  cursor: pointer;
}
.li-item:hover {
  background: #636060;
  /*color: #636060;*/
  /*color: #565656;*/
  color: white;
}
.selected {
  border-radius: 5px;
  background: white;
  color: #383636;
}
li a {
  color: inherit;
}
.song-score {
  color: #4ab833;
  float: right;
  text-align: right;
  font-size: 80%;
  margin-left: 1em;
}
.song-play-button {
  position: absolute;
  color: white;
  /*float: right;*/
  text-align: center;
  font-size: 100%;
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  background: #4ab833;
  display: none;
  top: 0%;
  left: 72.5%;
  width: 15%;
}
.li-title {
  background: #383636;
  color: white;
}
.instruction {
  color: #cdcdcd;
  font-size: 80%;
}
.score-score-title {
  font-size: 80%;
}

/* GAME */
audio {
  width: 100px;
}
#audio-controls {
  float: left;
  width: 110px;
}
#skip-button {
  float: left;
  width: 50px;
  background: #262525;
  color: white;
  padding: 0.2em;
  text-align: center;
  display: none;
  cursor: pointer;
}
#instructions {
  width: 100%;
  float: left;
}
#song-title {
  float: left;
  margin-top: 0.5em;
  margin-left: 1.5em;
}
